<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Donkey</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="shortcut icon" type="image/png" href="../../public/assets/images/SurveyDonkey3_colored.png">

</head>

<body>
    <header>
        <h1>
            <a href="/">SURVEY DONKEY</a>
        </h1>
        <img src="../../public/assets/images/SurveyDonkey3_colored.png" alt="">
    </header>

    <main>
        <!-- {{{ body }}} -->
        <!-- this would be under views/homepage.handlebars -->
        <div class="container main-survey-sec">
            <div class="row">
                <div class="col-9 explore-surveys">
                    <h2>Explore Surveys</h2>
                    <div class="row">
                        <!-- SURVEY (X) probably need for loop in js-->
                        <div class="survey-box">
                            <p>Survey X: <span>This survey is about your favourite dragons.</span></p>
                            <button class="start-btn">START</button>
                        </div>
                    </div>
                </div>

                <div class="col-3 login">
                    <h3>LOGIN to create surveys</h3>
                </div>
            </div>
        </div>
    </main>

    <footer>
        &copy; survey donkey 2021
    </footer>

    <!-- WE NEED: 
    - homepage.handlebars (for already made surveys to display and login)
    - signup.handlebars (separate signup page or use js to change box)
    - dashboard.handlebars (users dashboard, see and create new surveys)
    - survey-post.handlebars (page to post a survey)
    - survey.handlebars - under partials? (for actual surveys to be populated)
    -->

    <!-- SCRIPT FILES -->
    <!-- {{#if loggedIn}} -->
    <!-- logged in scripts -->
    <!-- {{/if}} -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>