<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Donkey</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="shortcut icon" type="image/png" href="../../public/assets/images/SurveyDonkey3_coloredWhiteGreys.png">

</head>

<body>
    <header>
        <h1>
            <a href="/">SURVEY DONKEY</a>
        </h1>
        <nav class="navigation">
            <!-- {{#if loggedIn}} -->
            <button id="dashboard" class="dashboard-btn">DASHBOARD</a>
            <button id="logout" class="logout-btn">LOGOUT</button>
            <!-- {{/if}} -->
        </nav>
        <img src="../../public/assets/images/SurveyDonkey3_coloredWhiteGreys.png" alt="">
    </header>

    <main>
        <!-- THIS PART WOULD GO IN dashboard.handlebars -->
        <section>
            <div class="container main-survey-sec">
                <div class="row">
                    <div class="col-8 previous-surveys">
                        <h2>P<span>REVIOUSLY</span> C<span>REATED</span> S<span>URVEYS</span></h2>
                        <p>by {{user.username}}</p>
                        <!-- SURVEY (X) probably need for loop in js-->
                        <div class="row">
                            <div class="prev-survey-box">
                                <div class="d-flex">
                                    <p>Survey X: <span>This survey is about your favourite dragons.</span></p>
                                </div>
                                <div class="d-flex upDel-btns">
                                    <button>UPDATE</button>
                                    <button>DELETE</button>
                                </div>
                            </div>
                        </div>
                        <!-- SURVEY (Y) probably need for loop in js-->
                        <div class="row">
                            <div class="prev-survey-box">
                                <div class="d-flex">
                                    <p>Survey Y: <span>This survey is about mythical beings.</span></p>
                                </div>
                                <div class="d-flex upDel-btns">
                                    <button>UPDATE</button>
                                    <button>DELETE</button>
                                </div>
                            </div>
                        </div>
                        <!-- SURVEY (Z) probably need for loop in js-->
                        <div class="row">
                            <div class="prev-survey-box">
                                <div class="d-flex">
                                    <p>Survey Z: <span>This survey is about what sloths do.</span></p>
                                </div>
                                <div class="d-flex upDel-btns">
                                    <button>UPDATE</button>
                                    <button>DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CREATE NEW SURVEY FORM -->
                    <div class="col-4 create-surv">
                        <section class="create-sec">
                            <h3>W<span>ANT TO</span> C<span>REATE A</span> N<span>EW</span> S<span>URVEY</span>?</h3>
                            <button type="submit" class="newsurvey-btn">START HERE</button>
                        </section>
                    </div>
                </div>
            </div>
            </div>
    </main>

    <footer>
        &copy; survey donkey 2021
    </footer>

    <!-- WE NEED: 
- √ homepage.handlebars (for already made surveys to display and login)
- √ dashboard.handlebars (users dashboard, see and create new surveys)
- survey-post.handlebars (page to post a survey)
- survey.handlebars - under partials? (for actual surveys to be populated)
-->
    <!-- TODO:
- when logged in, login-signup should disappear; logout button should appear
- when logged out, login-singup displays; logout disappears
-->

    <!-- SCRIPT FILES -->
    <!-- {{#if loggedIn}} -->
    <!-- logged in scripts -->
    <!-- {{/if}} -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>