<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donkey Creates</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="shortcut icon" type="image/png" href="../../public/assets/images/SurveyDonkey3_coloredWhiteGreys.png">

</head>

<body>
    <header>
        <h1>
            <a href="/">SURVEY DONKEY</a>
        </h1>
        <nav class="navigation">
            <!-- {{#if loggedIn}} -->
            <button id="dashboard-btn" class="dashboard-btn">DASHBOARD</a>
                <button id="logout-btn" class="logout-btn">LOGOUT</button>
                <!-- {{/if}} -->
        </nav>
        <img src="../../public/assets/images/SurveyDonkey3_coloredWhiteGreys.png" alt="">
    </header>

    <main>
        <!-- THIS PART WOULD GO IN dashboard.handlebars -->
        <section>
            <div class="container main-survey-sec">
                <div class="row create-survey">
                    <h2>C<span>REATE</span> N<span>EW</span> S<span>URVEY</span></h2>
                </div>

                <div class="row new-survey-box">
                    <form class="col-8">
                        <label for="surv-name">Enter your survey name: </label>
                        <input type="text" name="surv-name" id="surv-name" class="form-input" />

                        <label for="question">Question 1:</label>
                        <textarea name="question" id="question" class="form-input"></textarea>

                        <label for="option">Option 1: </label>
                        <input type="text" name="option" id="option" class="form-input" />
                    </form>
                    <div class="col-4 next-steps">
                        <h3>What would you like to do?</h3>
                        <button class="" id="add-quest-btn">Add Question</button>
                        <button id="addOpt-btn">Add Option</button>
                        <button id="save-surv-btn">Save Survey</button>
                    </div>
                </div>
            </div>
        </section>
        <br />
    </main>

    <footer>
        &copy; survey donkey 2021
    </footer>

    <!-- WE NEED: 
- homepage.handlebars (for already made surveys to display and login)
- dashboard.handlebars (users dashboard, see and create new surveys)
- new-survey.handlebars (new surveys page)
- take-survey.handlebars (page to take a survey)
- update-survey.handlebars (page to update user survey)
-->

    <!-- TODO:
- when logged in, login-signup should disappear; logout button should appear
- when logged out, login-singup displays; logout disappears
- JS convert to textara when clicked for editing/updating survey?
- JS in new-survey -> add option button; add question button
-->

    <!-- SCRIPT FILES -->
    <!-- {{#if loggedIn}} -->
    <!-- logged in scripts -->
    <!-- {{/if}} -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>