<section>
    <div class="container main-survey-sec">
        <div class="row create-survey">
            <h2>C<span>REATE</span> N<span>EW</span> S<span>URVEY</span></h2>
        </div>
        <div class="row new-survey-box">
            <form class="col-8 new-survey-form">
                <label for="surv-name">Enter your survey name: </label>
                <input type="text" name="surv-name" id="surv-name" class="form-input" />
                <label for="question">Question:</label>
                <textarea name="question" id="question" class="form-input"></textarea>
                <label for="option">Option 1: </label>
                <input type="text" name="option" id="optionone" class="form-input" />
                <label for="option">Option 2: </label>
                <input type="text" name="option" id="optiontwo" class="form-input" />
                <label for="option">Option 3: </label>
                <input type="text" name="option" id="option" class="form-input" />
                <label for="option">Option 4: </label>
                <input type="text" name="option" id="option" class="form-input" />
            </form>
            <div class="col-4 next-steps">
                <h3>Click below to Save Survey</h3>
                <br>
                {{!-- <button class="addQuestion" id="add-quest-btn">Add Question</button>
                <button id="addOpt-btn">Add Option</button> --}} 
                <button type="submit" id="save-surv-btn">Save Survey</button>
            </div>
        </div>
    </div>
</section>
<br />
<script src='/javascript/prepareSurvey.js'></script>