<section>
    <div class="container main-survey-sec">
        <div class="update-surveys">
            <h2>D<span>o</span> T<span>the</span> S<span>URVEY</span></h2>
        </div>
    </div>
        <div class="row new-survey-box">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
            <div class="col-4">
                <br>
                {{!-- <button class="addQuestion" id="add-quest-btn">Add Question</button>
                <button id="addOpt-btn">Add Option</button> --}} 
                <button type="submit" id="save-surv-btn">Save Survey</button>
            </div>
        </div>
    </div>
</section>
<br />
<script src='/javascript/viewsurvey.js'></script>