:root {
    --primary-grey: #c9c9c8;
    --secondary-orange: #ef8b69;
    --tertiary-dgrey: #3f3f3f;
    --fourth-pewterBlue: #8ba6a9;
    --fifth-white: #fbf7fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-grey);
}

/* GENERAL STYLES */
a {
    text-decoration: none;
}

/* HEADER STYLE START */
header {
    background: var(--tertiary-dgrey);
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header h1 a {
    font-weight: normal;
    font-size: 40px;
    color: var(--fifth-white);
    padding: 10px 15px 10px 50px;
    text-shadow: 2px 2px 3px black;
}

header h1 a:hover {
    color: var(--secondary-orange);
}

header img {
    width: 50px;
}

/* HEADER STYLE END */


/* MAIN STYLES START */
.rows {
    display: flex;
    flex-wrap: wrap;
}

.main-survey-sec {
    margin-top: 3%;
}

.explore-surveys h2 {
    text-align: center;
    text-shadow: 1px 1px 2px var(--tertiary-dgrey);
}

.explore-surveys h2 span,
.login-sec h3 span,
.signup-sec h3 span,
.previous-surveys h2 span,
.create-sec h3 span {
    font-size: .75em;
}

.survey-box, 
.prev-survey-box {
    display: flex;
    flex: wrap;
    background-color: var(--fourth-pewterBlue);
    color:var(--fifth-white);
    padding: 2%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px var(--tertiary-dgrey);
}

.survey-box {
    justify-content: space-between;
}

.survey-box p {
    font-size: 22px;
    padding-right: 5px;
}

.survey-box span {
    font-size: 16px;
}

.prev-survey-box {
    justify-content: space-between;
}

button {
    background-color: var(--secondary-orange);
    border: 0;
    padding: 2%;
    color: var(--fifth-white);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    margin: 1%;
}
  
button:hover {
    background-color: var(--tertiary-dgrey);
}

.upDel-btns {
    justify-content: space-around;
}
.upDel-btns button {
    margin: 10px;
    padding: 4%;
}

.login-signup h3,
.create-surv h3 {
    font-size: 1.2em;
}
.login-signup p {
    font-size: 0.8em;
}

.login-sec, 
.signup-sec,
.create-sec {
    border:var(--tertiary-dgrey) solid 2px;
    padding: 5%;
    box-shadow: 2px 2px 3px var(--tertiary-dgrey);
}

.login-form input, .signup-form input {
    width: 100%;
}

form > div {
    margin-bottom: 2%;
}
  
form label {
    display: block;
}

.create-surv {
    margin: auto 0;
}
.create-sec {
    text-align: center;
}

.navigation {
    display: flex;
    margin-left: auto;
    padding: 0 4%;
}
.dashboard-btn, .logout-btn {
    margin: 0 5% 0 0;
}
.dashboard-btn:hover,
.logout-btn:hover {
    background-color: var(--fourth-pewterBlue);
}

/* MAIN STYLES END */


/* FOOTER STYLE START */
footer {
    background: var(--tertiary-dgrey);
    color: var(--fifth-white);
    font-weight: bold;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* FOOTER STYLE END */